{% include 'navbar.html' %} 
{% load static %} 
{% block content %}

<div class="contenedorConf">

<div class="confBorrar">
    <h1>Borrar Cabaña</h1>

    <p>¿Esta seguro de borrar la cabaña <b>{{ cabania.nombre}}</b>?</p>
    <form method="post">
        {% csrf_token %}
        <div class="contenedorBotones">
            <button type="submit" class="botonSecundario">Aceptar</button>
            <a type="submit" class="botonSecundario" href="/cabanias/">Cancelar</a>
        </div>
    </form>
</div>

</div>

{% endblock %} 